nav,
.main {
  background: rgb(13, 17, 23) !important;
}
.text-white {
  color: white;
}
.ml-24 {
  margin-left: 24px;
}
.f-s {
  font-size: 32px;
  margin-right: 8px;
}
.f4 {
  font-size: 16px;
  line-height: 24px;
}
.fsl-4 {
  font-size: 14px;
  line-height: 20px;
  padding: 24px 0;
}
.ulh:hover {
  padding-bottom: 0;
  text-decoration: underline;
}
.p-40 {
  padding: 0 40px;
}
.s-main {
  padding: 24px;
  margin: 0 315px;
}
.h1-a {
  font-size: 72px !important;
  line-height: 76px !important;
  margin-bottom: 16px;
  color: rgb(230, 237, 243);
  font-weight: 700;
}
.h2-a {
  font-size: 24px !important;
  line-height: 32px !important;
  font-weight: 450;
  margin-bottom: 32px;
  color: rgb(110, 118, 129);
}
.btn-a {
  font-size: 1.25rem;
  color: black !important;
  background: white;
  width: 273px;
  height: 56px;
  font-weight: 500;
}
.btn-a:hover {
  box-shadow: 0 4px 7px rgba(255, 255, 255, 0.432);
}
.h6-a {
  font-size: 14px !important;
  line-height: 20px !important;
  padding-top: 16px;
  font-weight: 400;
}
.a-main {
  padding: 64px 24 4px 24px;
  margin-bottom: 40px;
  margin-top: 25px;
}
.monospace {
  font-family: monospace;
}
.h3-n {
  margin-bottom: 8px;
}
.blu {
  color: rgb(47, 129, 247);
  margin-right: 8px;
}
.ab {
  color: rgb(230, 237, 243);
  word-spacing: 8px;
}

.c1 {
  color: rgb(230, 237, 243);
}
.b-main {
  padding: 0 101px;
  margin-bottom: 40px;
}
.b-m {
  height: 480px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: black;
  font-weight: 500;
  padding: 39px;
  line-height: 41px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: -30px 8px 75px 8px rgba(67, 43, 79, 0.75);
}
.lh-10 {
  line-height: 10px;
}
.mr-a {
  margin-right: 10px;
  color: green;
}
.m {
  margin-right: 23px;
  color: green;
}

.c2 {
  color: rgb(110, 118, 129);
}
.ab-2 {
  color: rgb(230, 237, 243);
}

.h5-mk {
  font-size: 24px !important;
  line-height: 28px !important;
  font-weight: 700 !important;
  padding-bottom: 32px !important;
  margin-top: 35px;
}
.square {
  background: url(images/square-pattern.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 24px 60px 24px;
}
.c3 {
  color: rgb(13, 17, 23) !important;
}
.h1-b {
  font-size: 64px;
  line-height: 68px;
  margin-bottom: 48px;
  font-weight: 790;
}
.c4 {
  color: rgb(9, 105, 218);
}
.c5 {
  color: rgb(110, 119, 129);
}
.c-main {
  padding: 64px 24px 24px 24px;
}
.c-m {
  margin-bottom: 40px;
}
.h3-m {
  margin-bottom: 4px;
  font-size: 24px !important;
  line-height: 28px !important;
  font-weight: 750;
}
.h5-m {
  margin-bottom: 10px;
  font-size: 14px !important;
  line-height: 20px !important;
}
.d-main {
  margin: 16px 303px 40px 303px;
}
.d1 {
  padding: 40px;
  background: white;
  box-shadow: 0px 0px 75px -28px rgba(78, 78, 78, 0.7);
}

.mt-24 {
  margin-top: 24px;
}
.p-mk {
  font-size: 16px !important;
  line-height: 24px !important;
}
.h1-c {
  font-size: 32px !important;
  line-height: 36px !important;
  color: rgb(31, 35, 40);
  font-weight: 750;
}
.btn-b {
  background: rgb(27, 31, 35);
  font-size: 16px;
  width: 234px;
  height: 51px;
  margin-top: 10px;
  color: white !important;
}
.btn-b:hover {
  box-shadow: 0px 0px 75px 5px rgba(0, 0, 0, 0.7) !important;
}
.lh-nu {
  padding-left: 0rem;
}
.ho {
  list-style: none;
  list-style-position: inside;
  color: rgb(110, 119, 129);
  margin-bottom: 16px;
  line-height: 1.25 !important;
}
.ho:hover {
  text-decoration: underline;
}
.h1-d {
  font-weight: 790;
  font-size: 32px;
  margin-left: 20px;
  margin-bottom: 32px;
}

.p-32 {
  padding: 32px 0;
}
.pl-24 {
  padding-left: 24px;
  margin-bottom: 8px;
}
footer {
  background: rgb(246, 248, 250);
}
footer > div {
  padding: 24px;
}
.la {
  margin-right: 16px !important;
}
.fs-12 {
  font-size: 12px;
}
.fs-la {
  font-size: 22px;
}
.end {
  margin-left: 650px;
}
.al:hover {
  text-decoration: underline;
}
.list-style-none {
  list-style: none;
}
@media screen and (min-width: 200px) and (max-width: 480px) {
  .hidden {
    overflow: hidden;
  }
  .na {
    flex-wrap: nowrap !important;
  }

  .navbar-nav {
    flex-direction: row;
  }
  .s-main {
    margin: 0;
  }
  .h1-a {
    font-size: 47px !important;
    line-height: 47px !important;
    font-weight: 780;
    margin-bottom: 26px;
  }
  .h2-a {
    font-size: 19px !important;
    line-height: 29px !important;
    margin-bottom: 43px;
  }
  .h6-a {
    margin-bottom: 41px;
  }
  .b-main {
    padding: 0;
  }
  .b-m {
    box-shadow: none;
  }
  .lh-10 {
    line-height: 20px;
  }
  .ab-2 {
    margin-bottom: 2px;
  }
  .text-st {
    text-align: start !important;
  }
  .b-main {
    padding: 0;
  }

  .hidden {
    overflow: hidden;
  }
  .no {
    display: flex;
    flex-direction: column;
  }
  .end {
    margin: 0 !important;
  }
  .la {
    margin-right: 9px !important;
  }
  .d-main {
    margin: 0;
  }
  .h1-b {
    font-size: 43px;
    line-height: 53px;
  }
  .mw {
    display: flex;
    flex-direction: column;
  }
  .fs-la {
    font-size: 17px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .na {
    flex-wrap: nowrap !important;
  }

  .navbar-nav {
    flex-direction: row;
  }
  .s-main {
    margin: 0 32px;
  }
  .h1-a {
    font-size: 65px !important;
    line-height: 61px !important;
    font-weight: 780;
    margin-bottom: 18px;
  }
  .text-st {
    text-align: start !important;
  }
  .b-main {
    padding: 0;
  }
  .b-m {
    box-shadow: none;
  }
  .hidden {
    overflow: hidden;
  }
  .end {
    margin: 191px !important;
  }
  .d-main {
    margin: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .na {
    flex-wrap: nowrap !important;
  }
  .hidden {
    overflow: hidden;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .h1-a {
    font-size: 65px !important;
    line-height: 61px !important;
    font-weight: 780;
    margin-bottom: 18px;
  }
  .text-st {
    text-align: start !important;
  }
  .d-main {
    margin: 0;
  }
  .s-main {
    margin: 0;
  }
  .end {
    margin: 0;
  }
}
@media screen and (min-width: 1280) {
  footer > div {
    padding-top: 24px;
  }
}
